@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

body {
	background: linear-gradient(180deg, #ffffff 0%, #f6f7fb 100%);
	font-family: "Poppins", sans-serif;
	font-style: normal;
	max-width: 100vw;
	overflow: hidden;
}

h1 {
	font-weight: 600;
	font-size: 32px;
	line-height: 36px;
	/* text-align: center; */
	color: #f8f8f8;
}

h2 {
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	/* text-align: center; */
	color: #b7b7b7;
}

/*---------------HEADER------------------*/

div.nav {
	display: flex;
	justify-content: space-between;
	padding: 24px 18px 24px 18px;
	background: #ffffff;
}

div.profile {
	background-image: url("./images/icon-profile.png");
	height: 34px;
	width: 34px;
	background-size: contain;
	background-repeat: no-repeat;
}

div.logo {
	background-image: url("./images/logo.png");
	height: 42px;
	width: 84px;
	background-size: contain;
	background-repeat: no-repeat;
}

div.chat {
	background-image: url("./images/icon-chat.png");
	height: 34px;
	width: 34px;
	background-size: contain;
	background-repeat: no-repeat;
}

/*---------------END HEADER------------------*/

/*---------------PROFILE------------------*/
div#dog-profile {
	height: 700px;
	width: 500px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	animation: myfirst 2s 5;
	animation-direction: normal;
	background-color: grey;
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;
}

img.avatar {
	height: 700px;
	width: 500px;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	border-radius: 15px;
}

.txtover {
	position: relative;
}
.txtover figcaption {
	position: absolute;
	bottom: 0;
	left: 0;
}

div#like-reaction {
	background-image: url("./images/badge-like.png");
	background-repeat: no-repeat;
	background-size: contain;

	box-sizing: border-box;
	position: absolute;
	width: 234px;
	height: 116px;
	left: 16px;
	top: 55px;
	transform: rotate(-30deg);
}

div#dislike-reaction {
	background-image: url("./images/badge-nope.png");
	background-repeat: no-repeat;
	background-size: contain;

	box-sizing: border-box;
	position: absolute;
	width: 234px;
	height: 116px;
	left: 16px;
	top: 55px;
	transform: rotate(-30deg);
}

.hidden {
	visibility: hidden;
}

div.no-more-dogs {
	font-weight: 600;
	font-size: 32px;
	line-height: 36px;
	color: white;
	padding: 20px;
}

/*---------------END PROFILE------------------*/

/*---------------REACTIONS------------------*/
div.reactions {
	display: flex;
	justify-content: center;
	padding: 24px 18px 24px 18px;
}

div.dislike {
	background-image: url("./images/icon-cross.png");
	height: 26px;
	width: 26px;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0 auto;
}

button.circle {
	border-radius: 50%;
	background: #ffffff;
	box-shadow: 0px 10px 20px 0px #e9e9ea;
	display: inline-block;
	height: 92px;
	width: 92px;
	border: 0;
}

div.gap {
	width: 50px;
}

div.like {
	background-image: url("./images/icon-heart.png");
	height: 36px;
	width: 41px;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 0 auto;
}

button#heart-btn:hover {
	background: #dbfff4;
}

button#cross-btn:hover {
	background: #ffe7ef;
}
/*---------------END REACTIONS------------------*/

/*---------------SWIPE------------------*/
div#dog-profile.swipe-left {
	animation: swipe-left 1.5s 1;
	animation-direction: normal;
}

@keyframes swipe-left {
	0% {
		left: 50%;
	}

	100% {
		left: -50%;
	}
}

div#dog-profile.swipe-right {
	animation: swipe-right 1.5s 1;
	animation-direction: normal;
}

@keyframes swipe-right {
	0% {
		left: 50%;
	}

	100% {
		left: 150%;
	}
}

/*---------------END SWIPE------------------*/
